.env
apps/api/app/.reload_touch
apps/api/athena/.env.local
apps/api/.env.local
apps/web/.env.local
__pycache__/
*.xlsx
.venv/
node_modules/
.next/
dist/
out/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
apps/**/node_modules/
apps/**/.next/